<<<<<<< HEAD
/*
 * === Header style ===
 */

/* Header style */
header {
  background: #fff url('../images/logo.png') 20px center no-repeat;
  border-bottom: 1px solid #ccc;
  height: 70px;
  width: 100%;
=======
header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
>>>>>>> 212529db4b955a72d996660137790c2497399ff5
}
